.grid-container {
    display: grid;
    grid-template-areas:
        'title'
        'tags'
        'recipes';
    width: 100%;
}

.grid-title {
    grid-area: title;
}

.grid-tags {
    grid-area: tags;
    position: relative;
}

.recipes-grid {
    grid-area: recipes;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.recipes-grid > figure {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.ingredients-hdr {
    grid-area: ingredients-hdr;
    grid-area: 2/1;
}


.lol {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-area: lol;
}

.images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-area: images;
}
.recipe-tags {
    grid-area: 100/1;
}
.credits {
    grid-area: 101/1;
}
.grid-recipe {
    display: grid;
    grid-template-areas:
        'images images images images'
        '. one-image one-image .';
    width: 100%;
}
recipe-comp {
    display: block;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.two-images, .one-image {
    grid-column: span 4;
}

.grid-recipe .placeholder {
    height: 200px;
}

#ingredients-vert {
    display: none;
    width: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0;
    letter-spacing: -4px;
}
#ingredients {
    grid-area: 2/1;
}
.ingredients, .preparation {
    padding: 5px 10px;
}
.preparation-hdr, #ingredients, #ingredients-vert, .hdr, .grid-title {
    padding: 0px 10px;
}

#dialogComp {
    display: none;
    position: absolute;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: auto auto auto;
    top: 0;
    width: 100%;
    height: 100%;
}

#dialog {
    z-index: 10;
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    background:#111;
    border-radius: 10px;
    padding: 10px 15px;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    width: 100%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .recipes-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .two-images {
        grid-column: span 2;
    }
    .one-image {
        grid-column: 2 / 4;
    }
    .grid-recipe .placeholder {
        height: 350px;
    }
    .recipe-tags {
        grid-area: 100/1/100/3;
    }
    .credits {
        grid-area: 100/4;
    }
    .grid-recipe {
        grid-template-areas:
            'images images images images'
            '. one-image one-image .';
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .recipes-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid-recipe {
        grid-template-areas:
            'images images images images'
            '. one-image one-image .';
    }
    #ingredients-vert {
        display: block;
        width: 100%;
        grid-area: 2/1/99/1;
        padding-top: 6px;
    }
    #dialogComp {
        grid-template-columns: 10% 80% 10%;
    }
    .content {
        padding: 0 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .recipes-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .recipes-grid {
        grid-template-columns: repeat(8, 1fr);
    }
    #dialogComp {
        grid-template-columns: 20% 60% 20%;
    }
}

@media (min-width: 1930px) {
    .recipes-grid {
        grid-template-columns: repeat(10, 1fr);
    }
    #dialogComp {
        grid-template-columns: 30% 40% 30%;
    }
}

@media (min-width: 3840px) {
    .recipes-grid {
        grid-template-columns: repeat(18, 1fr);
    }
    #dialogComp {
        grid-template-columns: 40% 20% 40%;
    }
}