.light-mode {
    color: #333;
    background-color: #ddd;
}

.light-mode {
    span.type {
        background-image: radial-gradient(25px, #fff, #0000);
    }
    .highlight{
        background:#ddd;
    }
    .fa-sync-alt {
        font-size:3em;
        color:#ddd;
    }
}

.dark-mode {
    color: #ddd;
    background-color: #333;
}

.dark-mode {
    span.type {
        background-image: radial-gradient(25px, #fff, #0000);
    }
    .highlight{
        background:#555;
    }
    .fa-sync-alt {
        font-size:3em;
        color:#555;
    }
}