$highlight-light: #841d22;
$background-light: #eeeeee;
$color-light: #222222;
$highlight-bg-light: #ffd562;
$ligth-border: #841d22;

$highlight-dark: #fff2a9;
$background-dark: #222222;
$color-dark: #dddddd;
$highlight-bg-dark: #841d22;
$dark-border: #fff2a9;

.light {
    color: $color-light;
    background-color: $background-light;
}

span.type {
    background-image: radial-gradient(25px, #fff, #0000);
}

.light {
    a, a:hover {
        color: $highlight-light !important;
    }
    .selected, .highlight {
        background-color: $highlight-bg-light !important;
    }
    .tags {
        background-color: $background-light;
        color: $highlight-light;
        border-color: $ligth-border;
    }
    .recipeLink {
        background-color: $background-light;
    }
}

.dark {
    color: $color-dark;
    background-color: $background-dark;
}

.dark {
    a, a:hover {
        color: $highlight-dark !important;
    }
    .highlight, .selected{
        background-color: $highlight-bg-dark !important;
    }
    .tags {
        background-color: $background-dark;
        color: $highlight-dark;
        border-color: $dark-border;
    }
    .recipeLink {
        background-color: $background-dark;
    }
}

.tags {
    display: inline-block;
    padding: 2px 10px;
    margin: 2px;
    border-radius: 5px;
    border: 2px solid;
}
.tags:hover {
    text-decoration: none;
}
.tags img {
    height: 64px;
    width: 64px;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9;
    opacity: 0.4;
}