[Unit]
Description=Node.js Recipes HTTP Server

[Service]
PIDFile=/tmp/recipes-99.pid
User=pi
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pi/recipes/
ExecStart=/home/pi/recipes/server.js

[Install]
WantedBy=multi-user.target