extends layout.pug

block content
  div.row
    div.col-1.offset-11
      a.float-right(href='/reload-json')
        i.fas.fa-sync-alt(style='font-size:3em; color:#333;')

  h1 Mains
  div.row
    each recipe in mains
      figure.col-md-3.recipeLinkDiv
        a.lazy.recipeLink(href='/mains/' + recipe.id, style=(recipe.image ? 'background-image: url("/images/'+recipe.image[0]+'");' : ''))
          figcaption.text-center= recipe.name


  h1 Desserts
  div.row
    each recipe in desserts
      figure.col-md-3.recipeLinkDiv
        a.lazy.recipeLink(href='/dessert/' + recipe.id, style=(recipe.image ? 'background-image: url("/images/'+recipe.image[0]+'");' : ''))
          figcaption.text-center= recipe.name
