extends layout.pug

block content
  div.row
    div.col-1.offset-11
      a.float-right(href='/reload-json')
        i.fas.fa-sync-alt

  if categories
    h1 Kategorien
    div.row
      each category in categories
        span.col-md-3
          a(href='/' + category.id)= category.name

  h1 Rezepte
  div.row
    each recipe in recipes
      figure.col-6.col-sm-4.col-md-3.col-lg-2.recipeLinkDiv
        if recipe.category
          a.lazy.recipeLink(href='/' + recipe.category + '/' + recipe.id, data-src=(recipe.image ? '/images/thumbnail_' + recipe.image[0] : ''))
            figcaption.text-center= recipe.name
        else
          a.lazy.recipeLink(href='/recipe/' + recipe.id, data-src=(recipe.image ? '/images/thumbnail_' + recipe.image[0] : ''))
            figcaption.text-center= recipe.name
        if recipe.type
          span.type(style='background-image: radial-gradient(35px, #fff, #0000);')
          span.type(style='background-image: url("/icons/' + recipe.type + '.svg"); background-size: 35px;')
