extends layout.pug

block content
  div.row
    div.col-1.offset-11
      a.float-right(href='/reload-json')
        i.fas.fa-sync-alt(style='font-size:3em; color:#333;')

  h1 Recipes
  div.row
    each recipe in recipes
      figure.col-6.col-sm-4.col-md-3.recipeLinkDiv
        if recipe.category == "sandwich"
          a.lazy.recipeLink(href='/sandwich/' + recipe.id, data-src=(recipe.image ? '/images/'+recipe.image[0] : ''))
            figcaption.text-center= recipe.name
        else
          a.lazy.recipeLink(href='/recipe/' + recipe.id, data-src=(recipe.image ? '/images/'+recipe.image[0] : ''))
            figcaption.text-center= recipe.name
