doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/image.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(class="")
    if breadcrumbs
      div.container
        - var first = true;
        each crumb in breadcrumbs
          if !first
            span= ' > '
          a(href=crumb.link)= crumb.text
          - first = false;

    div.container
      block content

    script(src="/lib/jquery.min.js")
    script(src="/lib/bootstrap.min.js")
    script(src="/lib/popper.min.js")
    script(src="/lib/jquery.lazy.min.js")
    script(src="/js/jquery.fittext.js")
    script(src="/js/images.js")
    script(src="/js/js.js")

    div.col-1.offset-11
      a.float-right(href="/credits") Credits
